<% if type == 'queue' %>
  <% if list.length > 0 %>
    <h2>Your Queue</h2>
  <% else %>
    <h2>No Queue Yet</h2>
  <% end %>
<% else %>
  <% if list.length == 0 %>
    <h5>There's nothing in your list yet.</h5><br>
    <%= link_to "Find Movies", search_path, class: "btn btn-primary m-3" %>
  <% else %>
    <h2>Your List</h2>
  <% end %>
<% end %>
<ul class="list-group">
  <% list.each do |movie| %>
    <li class="list-group-item p-1">
      <%= link_to details_path(tmdb_id: movie.tmdb_id) do %>
        <h6 class="my-0"><%= movie.title %></h6>
      <% end %>
      <% classes = "btn btn-sm btn-success mx-1" %>
      <% if type != 'queue' %>
        <% classes << " disabled" if @queue.to_a.pluck(:tmdb_id).include? movie.tmdb_id  %>
        <%= link_to 'Add to Queue', queue_path(movie_id: movie.id), method: :post, remote: true, class: classes %>
        <%= link_to 'Delete from List', remove_from_list_path(movie_id: movie.id), method: :post, remote: true, class: "btn btn-sm btn-danger" %>
      <% else %>
        <%= link_to 'Remove from Queue', remove_from_queue_path(movie_id: movie.id), method: :post,
        remote: true, class: "btn btn-sm btn-warning" %>
      <% end %>
    </li>
  <% end %>
</ul>
