<%= link_to 'Back', :back, class: "btn btn-dark mx-1" %>
<%= link_to "New List", :new_list, class: "btn btn-info mx-1" %>
<h1>These are all of your lists:</h1>
<div class="row">
  <div class="col-md-6">
    <div class="list-group">
      <% @lists.each do |list| %>
        <div class="list-group-item">
          <h4><%= link_to list.name, list_path(list) %></h4>
          # of Movies: <%= list.movies.length %><br>
          <%= link_to "Destroy List", list, method: :delete, class: "badge badge-danger", data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
