<%= form_with url: '/search_results', method: :get, local: true do |form| %>

  <div class="form-group">
    <%= form.label :query %><br>
    <%= form.text_field :query %>
  </div>

  <div class="form-group">
    <%= form.label :adult %>
    <%= form.check_box :include_adult, {}, true, false %>
  </div>

  <div class="actions">
    <%= form.submit "Search", name: nil %>
  </div>
<% end %>
