<div class="container">
  <div class="row">
    <div class="col-sm word-wrap">
      <% if !@movie.poster_path.nil? %>
        <%= image_tag small_movie_poster_url(@movie) %>
      <% end %>
      <h2><%= @movie.title %></h2>
      <% if @not_saved %>
        <%= link_to "Add to DB", save_path(id: @movie.id), class: "btn btn-success" %>
      <% else %>
        <span class="badge">In database</span>
      <% end %>
      <div class="btn-group">
        <button class="btn btn-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
          Add To List
        </button>
        <%= link_to 'Back', :back, class: "btn btn-dark btn-sm" %>

        <div class="dropdown-menu">
          <% current_user.lists.each do |list| %>
            <%= link_to list.name, add_path(id: @movie.id, list_id: list.id), class: "dropdown-item" %>
          <% end %>
        </div>
      </div>
      <div class="list-group"><p>
        <% if @movie.class == Tmdb::Movie %>
          <% @movie.each_pair do |key, value| %>
            <p>
              <strong><%= key %>: </strong>
              <%= value %>
            </p>
          <% end %>
        <% else %>
          <% @movie.attributes.each_pair do |key, value| %>
            <p>
              <strong><%= key %>: </strong>
              <%= value %>
            </p>
          <% end %>
        <% end %>
      </p></div>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-warning" %>
    </div>
  </div>
</div>
