<div class="container">
  <div class="row">
    <% if @movies.nil? %>
      <h3>No movies found.</h3>
    <% else %>
      <ul class="media-list">
        <% @movies.results.each do |movie| %>
          <li class="media">
            <div class="media-left">
              <% if !movie.poster_path.nil? %>
                <%= image_tag small_movie_poster_url(movie) %>
              <% end %>
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                <%= link_to movie.title, details_path(tmdb_id: movie.id) %>
                <% if movie.adult == true %>
                  <div class='badge badge-info'>Adult</div>
                <% end %>
              </h4>
              <ul>
                <li><strong>tmdb_id </strong><%= movie.id %></li>
                <li><strong>movie.release_date </strong><%= movie.release_date %></li>
                <li><strong>movie.overview </strong><%= movie.overview %></li>
                <li><strong>adult </strong><%= movie.adult %></li>
              </ul>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
